.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-weight: bold;
}

.login-form {
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0.7);
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 94%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #1f1b24;
  border-radius: 6px;
  background-color: #22272b;
  color: #fff;
  font-weight: bold;
  opacity: 0.7;
}

.form-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 20px;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #8e3f65;
  color: #fff;
  font-weight: bold;
  opacity: 0.8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
